<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">

    <div class="logo">
        <a href="/admin-dashboard">
            🛒 SmartCart Admin
        </a>
    </div>

    <div class="hamburger" onclick="toggleMenu()">
        ☰
    </div>

    <div class="nav-menu" id="navMenu">

        <a href="/admin-dashboard">
            Dashboard
        </a>

        <a href="/admin/item-list">
            Products
        </a>

        <a href="/admin/add-item">
            Add Product
        </a>

        <a href="/admin/orders">
            Orders
        </a>

        <a href="/admin-logout">
            Logout
        </a>

    </div>

</div>
<div class="container">

    <h1>Customer Orders</h1>

    <table>

        <tr>
            <th>Order ID</th>
            <th>User ID</th>
            <th>Customer</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Date</th>
        </tr>

        {% for order in orders %}

        <tr>

            <td>{{ order.order_id }}</td>

            <td>{{ order.user_id }}</td>

            <td>{{ order.name }}</td>

            <td>₹{{ order.amount }}</td>

            <td>
                {% if order.payment_status == 'Paid' %}
                    <span class="paid-status">
                        Paid
                    </span>
                {% else %}
                    <span class="pending-status">
                        {{ order.payment_status }}
                    </span>
                {% endif %}
            </td>

            <td>{{ order.created_at }}</td>

        </tr>

        {% endfor %}

    </table>

</div>
<script>
function toggleMenu(){
    document.getElementById("navMenu")
            .classList.toggle("active");
}
</script>

</body>
</html>