<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Secure Payment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">

    <div class="logo">
        <a href="/user-dashboard">
            🛒 SmartCart
        </a>
    </div>

    <div class="hamburger" onclick="toggleMenu()">
        ☰
    </div>

    <div class="nav-menu" id="navMenu">

        <a href="/user-dashboard">Home</a>

        <a href="/user/products">Products</a>

        <a href="/user/my-orders">Orders</a>

        <a href="/user/cart">
            Cart ({{ session.get('cart')|length if session.get('cart') else 0 }})
        </a>

        <a href="/user-logout">Logout</a>

    </div>

</div>
<div class="container">

    <div class="payment-card">

        <h1>🔒 Secure Checkout</h1>

        <p>
            Complete your payment securely using Razorpay.
        </p>

        <br>

        <h2 class="payment-amount">
            ₹{{ amount }}
        </h2>

        <br>

        <button id="rzp-button" class="btn btn-success">
            Pay Now
        </button>

    </div>

</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "{{ key_id }}",
    "amount": "{{ amount * 100 }}",
    "currency": "INR",
    "name": "SmartCart",
    "description": "Order Payment",
    "order_id": "{{ order_id }}",

    "handler": function (response){

        var form = document.createElement("form");
        form.method = "POST";
        form.action = "/verify-payment";

        var fields = {
            razorpay_payment_id: response.razorpay_payment_id,
            razorpay_order_id: response.razorpay_order_id,
            razorpay_signature: response.razorpay_signature
        };

        for (var name in fields) {
            var input = document.createElement("input");
            input.type = "hidden";
            input.name = name;
            input.value = fields[name];
            form.appendChild(input);
        }

        document.body.appendChild(form);
        form.submit();
    }
};

var rzp = new Razorpay(options);

document.getElementById('rzp-button').onclick = function(e){
    rzp.open();
    e.preventDefault();
}
</script>
<script>
function toggleMenu(){
    document.getElementById("navMenu")
            .classList.toggle("active");
}
</script>
</body>
</html>